.app-header {
  height: auto !important;
  text-align: center;
}

.app-header a {
  font-size: 2.4em;
  color: white;
}

.app-report-title {
  font-size: 16px !important;
  font-weight: normal;
  padding: 10px;
}

.app-content {
  padding: 2% 15%;
}

.ant-table-header-column {
  display: block !important;
}

.app-footer {
  text-align: center;
}
