.app-header {
  height: auto !important;
  text-align: center;
  background-color: #0169c6 !important;
}

.app-header a {
  font-size: 2.4em;
  color: white;
}
.app-header a:hover {
  font-size: 2.4em;
  color: rgba(255, 255, 255, 0.6);
}

.app-content {
  padding: 2% 15%;
}

.app-stats-block {
  margin-top: 4em;
}

.app-footer {
  text-align: center;
}

.ant-table-header-column {
  display: block !important;
}
